# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.log
.env
venv/
env/
*.sqlite3

# React & TypeScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
*.env
*.env.*
*.map

# General
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Misc
*.bak
*.tmp

*.claude
*.vite